#items{
    display: flex;
    flex-wrap: wrap;
    margin-left: 7%;
}

.card{
    margin: 20px;
    width: 18rem;
    height: 30rem;
    padding-bottom: 20px;
}

.card img{
    width: 90%;
    margin: auto;
    max-height: 50%;
}

.card-body *{
    margin: 2px;
}